PORT=3011
POSTGRES_HOST=localhost
POSTGRES_PORT=3001
POSTGRES_USER=postgres
POSTGRES_PASSWORD=2005
POSTGRES_DB=mebel_house

ACCESS_TOKEN_KEY = MyVeryVeryAccessTokenKey
ACCESS_TOKEN_TIME = "15h"
REFRESH_TOKEN_KEY = MyVeryVeryRefreshTokenKey
REFRESH_TOKEN_TIME = "15d"
REFRESH_TIME_MS = 84600000



SMTP_PASSWORD = courkfellpqmjrqz
SMTP_HOST = smtp.gmail.com
SMTP_PORT = 587
SMTP_USER = sardorsobidjonov1@gmail.com
API_URL = http://localhost

BOT_TOKEN = 7808141116:AAGEYz_YiSccNw4L4SCQNrzMzy4QdcWGs8U
